.contenedor{
    margin: 0 auto;
    width: 60vw;
}
.barra{
    height: 58px;
    top: 10px;
    background: #343A40;
    border-radius: 6px;
}

.ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0 35px;
    padding: 0;
    position: relative;
    top: 13px;
}

.list{
    cursor: pointer;
}

.links{
    display: flex;
}

.link{
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 45px;
}

.searchBar{
    border-radius: 8px;
    width: 160px;
    margin-right: 5px;
}

.select{
    border-radius: 8px;
    width: 72px;
}

@media only screen and (max-width: 600px) {
    .contenedor{
        margin: 0 auto;
        width: 100%;
    }
    .barra{
        height: 58px;
        top: 10px;
        background: #343A40;
        border-radius: 6px;
    }
    #name{
        display: none;
    }
    .searchBar{
        display: none;
    }
    
    .select{
        display: none;
    }
    
    .ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        padding: 0;
    }
    
    .list{
        cursor: pointer;
    }
    
    .links{
        display: flex;
    }
    
    .link{
        color: #FFFFFF;
        text-decoration: none;

    }
    #logOut{
        width: 100%;
    }
}