.barra{
    width: 60vw;
    height: 58px;
    top: 10px;
    background: #343A40;
    border-radius: 6px;
    margin: 0 auto;
}

.ul{
    display: flex;
    list-style: none;
    margin: 0 35px;
    padding: 0;
    position: relative;
    top: 13px;
}

#linkMargin{
    margin-right: 45px;
}

.link{
    color: #FFFFFF;
    text-decoration: none;
}

@media only screen and (max-width: 600px) {
    .barra{
        width: 70vw;
        height: 40px;
        background: #343A40;
        border-radius: 6px;
        margin: 0 auto;
    }
    .ul{
        display: flex;
        list-style: none;
        margin: 0 35px;
        padding: 0;
        position: relative;
        top: 8px;
    }
}