.addTweet {
    height: 180px;
    width: 40vw;
    border: 2px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 20px 10px 20px 16px;
    display: flex;
    margin: 20px auto;
    flex-direction: column;
    justify-content: space-between;
  }
  .addTweetSubmit {
    width: 68px;
    height: 34px;
    background: #007BFF;
    border-radius: 4px;
    border: 0px;
    color:white;
  }
  .addTweetForm {
    height: 100%;
    display:grid;
    grid-template-columns: 6fr 1fr;
  }
  .newTweetTextArea {
    height:70%;
    width: 80%;
    border:none;
    background-color: #15202B  ;
    resize: none;
    color:white;
    outline: none;
  }
  .submitButton{ 
    display: flex;
    align-self: flex-end;
    flex-direction: row-reverse;
    margin-bottom: 5px;
  }
  .alertStyle{
    display: flex;
    margin: 0 auto;
    background: #F8D7DA;
    border: 1px solid #F5C6CB;
    box-sizing: border-box;
    border-radius: 4px;
    color: #721C24;
    width: 30vw;
}
.spinner{
    margin: 0 auto;
}

@media only screen and (max-width: 600px) {
    .addTweet {
        height: 180px;
        width: 80vw;
        border: 2px solid #CCCCCC;
        box-sizing: border-box;
        border-radius: 6px;
        padding: 5px;;
        display: flex;
        margin: 0 auto;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 40px;
      }
      .addTweetSubmit {
        width: 68px;
        height: 34px;
        background: #007BFF;
        border-radius: 4px;
        border: 0px;
        color:white;
      }
      .addTweetForm {
        height: 100%;
        display:grid;
        grid-template-columns: 2fr 1fr;
      }
      .newTweetTextArea {
        height: 10px;
        width: 100%;
        border:none;
        background-color: #15202B  ;
        resize: none;
        color:white;
        outline: none;
      }
      .submitButton{ 
        display: flex;
        align-self: flex-end;
        flex-direction: row-reverse;
        margin-bottom: 5px;
      }
      .alertStyle{
        display: flex;
        margin: 0 auto;
        background: #F8D7DA;
        border: 1px solid #F5C6CB;
        box-sizing: border-box;
        border-radius: 4px;
        color: #721C24;
        width: 80vw;
    }
    .spinner{
      margin: 10px auto;
  }
    
}
