.form{
    position: absolute;
    width: 600px;
    height: 180px;
    left: 367px;
    top: 105px;
    border: 2px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 6px;
}
.form_button{
    position: absolute;
    width: 58px;
    height: 30px;
    left: 530px;
    top: 128px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #007BFF;
    border-radius: 4px;
    color: #FFFFFF;
    cursor: pointer;
}

.form_input::-webkit-input-placeholder {
    color: #CCCCCC;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}
.form_input{
    position: absolute;
    top: 20px;
    left: 16px;
    background-color: #15202B;
    border: none;
    color: #CCCCCC;
    width: 564px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.form_input:focus {
    outline: none;
}
.rowDiv{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

@media only screen and (max-width: 600px) {
    .form{
        width: 70vw;
        height: 150px;
        left: 55px;
        top: 60px;
        border: 2px solid #CCCCCC;
        box-sizing: border-box;
        border-radius: 6px;
    }
    .form_input{
        width: 200px; 
    }
    .form_button{
        position: absolute;
        width: 58px;
        height: 30px;
        left: 180px;
        top: 80px;
    
    }
}
