body {
  font-family: 'Asap', sans-serif;
  font-family: 'Roboto', sans-serif;

}
img {
  max-width:100%;
}
.avator {
  border-radius:100px;
  width:48px;
  margin-right: 15px;
}

.tweetWrap {
  max-width:490px;
  background: #343A40;
  margin: 0 auto;
  margin-top: 20px;
  border-radius:3px;
  padding: 30px;
  border-bottom: 1px solid #343A40;;
  border-top: 1px solid #343A40;;
}

.tweetContent{
  width: 340px;
  word-wrap: break-word;
}

.tweetHeader {
  display: flex;
  align-items:flex-start;
  font-size:14px;
}
.tweetHeaderInfo {
  font-weight:bold;
  color: #fff;
}
.tweetHeaderInfo span {
  color:#8fa0ad;
  font-weight:normal;
  margin-left: 5px;
}
.tweetHeaderInfo p {
  font-weight:normal;
  margin-top: 5px;
  
}
.tweetImgWrap {
  padding-left: 60px;
}

.tweetInfoCounts {
  display: flex;
  margin-left: 60px;
  margin-top: 10px;
}
.tweetInfoCounts div {
  display: flex;
  margin-right: 20px;
}
.tweetInfoCounts div svg {
  color:#fff;
  margin-right: 10px;
}
.spinner{
  margin: 0 auto;
}
@media screen and (max-width:600px){
  body {
    padding-left: 20px;
    padding-right: 20px;
  }
  .tweetHeader {
    flex-direction:column;
  }
  .tweetHeader img {
    margin-bottom: 20px;
  }
  .tweetContent{
    width: 250px;
    word-wrap: break-word;
  }
  
  .tweetHeaderInfo p {
    margin-bottom: 30px;
  }
  .tweetImgWrap {
    padding-left: 0;
  }
  .tweetInfoCounts {
  display: flex;
  margin-left: 0;
}
.tweetInfoCounts div {
  margin-right: 10px;
}
.spinner{
  margin: 10px auto;
}
}




/* .tweetContainer{
    display: grid;
    grid-template-rows: 1fr 3fr;
    margin: 0 auto;
    width: 600px;
    height: 100px;
    background: #343A40;
    border-radius: 6px;
    margin-bottom: 15px;
    height: fit-content;
}

.dataTweet{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  text-align: center;
  color: #fff;
}
.textTweet{
  color: #CCCCCC;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  text-align: center;
  padding: 0px 30px 10px;
}

.profileImg{
  width: 90px;
  height: 90px;
  overflow: hidden;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}

.text{
    width: 400px;
      word-wrap: break-word;
}


@media only screen and (max-width: 600px) {
  .tweetContainer{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin: 0 auto;
      margin-top: 15px;
      width: 280px;
      height: 100px;
      background: #343A40;
      border-radius: 6px;
      margin-bottom: 15px;
      height: auto;
  }
  
  .dataTweet{
    display: flex;
    color: #CCCCCC;
    padding: 15px 30px;
    grid-gap: 0px
  }
  .textTweet{
    color: #CCCCCC;
    padding: 0 30px;
    word-wrap: break-word;
  }
} */